.wrapper
  = render "groups/chat-side"
  .chat-main
    .main-header
      .main-header__left-box
        %h2.main-header__left-box__current-group
          = @group.name
        %ul.main-header__left-box__member-list
          MEMBER:
          - @group.users.each do |user|
            = user.name
          %li.main-header__left-box__member-list__member
      =link_to "#" do
        .main-header__edit-btn
          =link_to "Edit", edit_group_path(@group), method: :get, class: 'edit-btn'
    .messages
      = render @messages
    .form
      = form_for [@group, @message] do |f|
        = f.text_field :content, class: 'new_message', placeholder: 'type a message'
        .input-box
          = f.label :image, class: 'message_content' do
            = fa_icon 'picture-o', class: 'fa-image'
            = f.file_field :image, class: 'input-box__image__file'
        = f.submit 'Send', class: 'submit-btn'